.user {
    padding: 20px 40px;
    position: relative;
    height: 60px;
}

.clear {
    clear: both;
}

.user img {
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.say-hello {
    position: absolute;
    left: 120px;
    color: #333333;
    font-size: 14px;
}

#line {
    border-top: 1px solid #d3d3d3;
}

.user-id {
    position: absolute;
    bottom: 20px;
    padding: 2px 5px;
    left: 120px;
    border-radius: 3px;
    color: #ffffff;
    background-color: #f73f00;
}

.gray-bg {
    text-align: center;
    line-height: 40px;
    background-color: #d3d3d3;
    color: #5c5c5a;
    font-weight: 800;
    font-size: 14px;
    margin-top: 4px;
}

.order-container {
    padding: 0px;
    background-color: #fcfcfc;
    padding: 4px 0px;
    padding-bottom: 0px;
    position: relative;
}

    .order-container .icon {
        float: left;
        width: 32px;
        height: 32px;
        margin-left: 20px;
        background-color: #f73f00;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/icon_myorder.png');
        border-radius: 5px;
    }

    .order-container .header-font {
        position: absolute;
        line-height: 32px;
        color: #555553;
        font-size: 14px;
        font-weight: 800;
        left: 62px;
    }

    .order-container .refresh {
        right: 20px;
        top: 12px;
        position: absolute;
    }


/*¼ýÍ·*/
.arrow-right,
.arrow-left,
.arrow-bottom,
.arrow-top {
    display: inline-block;
    position: relative;
    background: #555553;
    width: 10px;
    height: 2px;
    border-radius: 5px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    vertical-align: middle;
    margin-top: -6px;
}

    .arrow-right::before,
    .arrow-left::before,
    .arrow-bottom::before,
    .arrow-top::before {
        content: "";
        display: inline-block;
        position: absolute;
        border-width: 0;
        background: #555553;
        width: 10px;
        height: 2px;
        border-radius: 5px;
        top: 4px;
        left: 4px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

.arrow-left {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.arrow-bottom {
    margin-top: 0px;
}

.arrow-top {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: 0px;
}

.arrow-left::before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    top: 4px;
    left: -4px;
}

.arrow-bottom::before {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    top: -4px;
}

.arrow2-bottom,
.arrow2-top {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #fb4e3a;
    position: relative;
    margin-bottom: 4px;
}

    .arrow2-bottom::before,
    .arrow2-top::before {
        content: "";
        display: inline-block;
        position: absolute;
        right: -2px;
        bottom: -12px;
        border-width: 0;
        background: #fb4e3a;
        width: 4px;
        height: 6px;
    }

.arrow2-bottom {
    border-top: 6px solid #fb4e3a;
    border-bottom: 0;
    margin-bottom: -2px;
}

    .arrow2-bottom::before {
        bottom: 6px;
    }
/*¼ýÍ·-end*/

.gray-cls {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%); 
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

      
#nav-footer {
	position:fixed;
	z-index:1;
	bottom: 0px;
	bottom: 0px;
	display:block;
	width:100%;
    border-top:1px solid #C6C6C6;
}
 
#nav-footer ul{ zoom:1; position:relative;}
#nav-footer ul li {
	width:25%;
	float:left;
	display:block;
	text-align:center;
	border-bottom:2px #2C2C2C solid;
    background-color:#fcfcfc;
}
#nav-footer ul li i {
	display:block; 
	text-align:center;  
	padding-bottom:10px; 
    height:24px; 
}
#nav-footer ul li.on{
	border-bottom:2px #AE432C solid;
	background-color:#fcfcfc; 
}
#nav-footer ul li a{
    font-size:14px;
    color:#a7a6a3;
    display:inline-block;
    width:100%;
}
#nav-footer ul li.on a {
    color:#f73f00;
}

/*.icon-home {
    background-image: url('../images/icon_home.png'); 
    background-position: center center;
    background-repeat:no-repeat;
    width:24px;
    height:24px;
    display:block;
    float:left;  
    margin-left:20px;
}*/

.icon-index {
    background-image: url('../images/icon_index.jpg'); 
    background-position: center center;
    background-repeat:no-repeat;
}

.on .icon-index {
    background-image: url('../images/icon_index_on.jpg'); 
    background-position: center center;
    background-repeat:no-repeat;
}

.icon-buy{
     background-image: url('../images/icon_buy.jpg'); 
    background-position: center center;
    background-repeat:no-repeat;
}
.on .icon-buy{
     background-image: url('../images/icon_buy_on.jpg'); 
    background-position: center center;
    background-repeat:no-repeat;
}
.icon-cart{
     background-image: url('../images/icon_cart.jpg'); 
    background-position: center center;
    background-repeat:no-repeat;
}
.on .icon-cart{
     background-image: url('../images/icon_cart_on.jpg'); 
    background-position: center center;
    background-repeat:no-repeat;
}
.icon-info{
   background-image: url('../images/icon_info.jpg'); 
    background-position: center center;
    background-repeat:no-repeat;
}

.on .icon-info{
   background-image: url('../images/icon_info_on.jpg'); 
    background-position: center center;
    background-repeat:no-repeat;
} 


.msg_form {
    z-index: 1000;
    height: 100px;
    background: #000000;
    width: 260px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -130px;
    margin-top: -50px;
    display: none;
    color: #ffffff;
    opacity: 0.7;
    text-align: center;
    border-radius: 5px;
}

    .msg_form p {
        line-height: 50px;
    }

.shade {
    background: rgba(0,0,0,0.5);
    top: 44px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 99;
    display: none;
}

.smt {
    height: 28px;
    line-height: 28px;
    text-align: center;
    color: #fff;
    width: 48px; 
    background: #f73f00;
    border-radius: 5px;
    padding: 5px 10px;
    opacity:1;
}

.smt:last-child { 
    margin-left: 15px; 
}