body {
    background-color: #ffffff;
}


.top-container {
    padding: 0px;
    background-color: #fcfcfc;
    padding: 4px 0px;
    padding-bottom: 0px;
}

    .top-container .icon {
        float: left;
        width: 32px;
        height: 32px;
        margin-left: 20px;
        background-color: #f73f00;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url('../images/icon_shop_address.png');
        border-radius: 5px;
    }

    .top-container .header-font {
        position: absolute;
        line-height: 32px;
        color: #555553;
        font-size: 14px;
        font-weight: 800;
        left: 62px;
    }


.order-title {
    text-align: center;
    line-height: 40px;
    background-color: #d3d3d3;
    color: #5c5c5a;
    font-weight: 800;
    font-size: 14px;
    margin-top: 4px;
}

.clear {
    clear: both;
}

.address-list {
    padding: 0px 10px;
    font-size: 14px; 
}

    .address-list table tr td:nth-child(1) {
        width: 10%;
        text-align: center;
    }

    .address-list table tr td:nth-child(2) {
        width: 70%;
    }

    .address-list table tr td:last-child {
        width: 20%;
        text-align: center;
    }

    .address-list a {
        display: block;
        background-color: #f73f00;
        color: #ffffff;
        width: 40px;
        padding:3px 0px;
        margin:0px auto;
        border-radius:3px;
    }
    .address-list tr{ 
        border-bottom:1px solid #d3d3d3;
    }
    .address-list table tr td a:last-child {
        margin-top: 10px;
    }
    .address-list td {
        padding: 10px 0px;
    }
    .address-list i {
        display: block;
        width: 20px; 
        background-color: #f73f00;
        border-radius: 10px;
        line-height:20px;
        color: #ffffff;
    }
    .address-list table tr td span:last-child{
        margin-left:20px;
    }
