body {
    background-color: #ffffff;
}
#page{
    padding-bottom:60px;
}
.order-container .refresh {
    top: 18px;
}

.order-container .icon { 
    background-image: url('../images/icon_my_coupon.png');
}
.gray-bg{
    text-align:left;
    padding:0px 20px; 
}

.coupon-container{
   padding:10px 20px;
   padding-bottom:16px; 
}

.coupon-container span{
    width:80px;     
    display:inline-block;
    margin:10px 5px;
    margin-bottom:0px;
    text-align:center; 
}

.coupon-container span img{
    width:100%;
    height:60px; 
}
.coupon-container span a{
    background-color:#f73f00;
    width:60px; 
    color:#ffffff;
    border-radius:3px; 
    padding:3px 5px; 
    display:block;
    margin-top:10px;
    margin:10px auto; 
    margin-bottom:0px;
}
