
.tag-container {
    margin: 0px auto;
    padding: 0px;
    display: block;
    width: 80%;
} 
    .tag-container ul li a {
        width: 25%;
        float: left;
        display: block;
        text-align: center;
    }

    .tag-container ul li i {
        display: block;
        height: 40px;
        width: 40px;
        margin: 5px auto;
        line-height: 40px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: 800;
        color: #ffffff;
        background-color: #f73f00;
    }

.content {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-color: #ffffff;
    padding-bottom: 20px;
}

.info-list {
    margin: 0px 20px;
    border: 1px solid #d3d3d3;
}

    .info-list a {
        display: block;
        position: relative;
        height: 40px;
        background-color: #fcfcfc;
        padding: 5px;
        border-bottom: 1px solid #d3d3d3;
    }

        .info-list a:last-child {
            border-bottom: 0px;
        }

        .info-list a img {
            width: 36px;
            height: 36px;
            position: absolute;
            top: 7px;
            left: 5px;
        }

        .info-list a p {
            position: absolute;
            line-height: 40px;
            color: #555553;
            font-size: 14px;
            font-weight: 800;
            left: 48px;
        }
         
        .info-list a i {
            float: right;
            float: right;
            top: 23px;
            right: 10px;
            background: #CFCFCF;
            border-radius: 0;
        }

            .info-list a i::before {
                background: #CFCFCF;
                border-radius: 0;
            }

