
ol, ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
 
.left {
    float: left;
}

.right {
    float: right;
}


#page {
    margin: 0px;
    margin-top: 44px;
    padding-bottom: 40px;
}

.banner {
    position: relative;
    width: 100%; 
    text-align: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

    .banner img {  
        max-height:115px;
        width:100%;
        box-shadow: inset 0 -3px 6px rgba(0,0,0,.1); 
    }



#header {
    margin: 22px auto 0;
    position: relative;
    width: 320px;
}

#content {
    margin: 0px 10px 20px 10px;
    min-width: 301px;
}

#footer {
    margin: 10px auto;
    text-align: center;
    clear: both;
    color: #CCC;
    text-shadow: 0 1px #999999;
    line-height: 25px;
}

.group {
    /*border: 1px solid #C6C6C6;*/
    background-color: rgba(255,255,255,0.8);
    padding:10px;
    margin-bottom:10px;
}

    .group span {
        font-size: 14px;
        color: #f73f00;
        font-weight: bold;
    }

    .group p {
        clear: both; 
        line-height: 18px;
        text-indent: 10px;
        margin-top:5px;
    }

    .group i{
        display:block;
        margin-left:10px;
        line-height:28px; 
    }

    .group i img{
        width:24px;
        height:24px;
        margin-right:5px; 
    }
