.ad img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.flash {
    height: 162px;
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 640px;
    margin: 0 auto 10px;
}

    .flash ul {
        height: 100%;
        width: 100%;
    }

    .flash li {
        float: left;
        height: 100%;
        position: relative;
    }

    .flash img {
        width: 100%;
        height: 100%;
    }

    .flash h3 {
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,0.8);
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
    }

.num {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 21px;
    width: 100%;
    background: rgba(0,0,0,0.5);
    padding: 6px 4px;
    text-align: right;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

    .num span.swiper-pagination-switch {
        display: inline-block;
        width: 9px;
        height: 9px;
        margin: 0 3px;
        background: #fff;
        border-radius: 50%;
        vertical-align: top;
    }

    .num span.swiper-active-switch {
        background-color: #fa4a81;
    }

    .num span.swiper-pagination-title {
        float: left;
        line-height: 8px;
        color: white;
        display: none;
    }

.filter {
    border-bottom: #dcdcdc 1px solid;
    height: 39px;
    line-height: 39px;
    background: #fff;
    display: table;
    width: 100%;
    margin: 0 0 7px;
    position: relative;
    z-index: 100;
}

    .filter li {
        display: table-cell;
        width: 33.3%;
    }

.filter_tab {
    padding: 0 0 0 28px;
    color: #565656;
    font-size: 13px;
    position: relative;
    height: 40px;
    overflow: hidden;
}

    .filter_tab:after {
        border-width: 8px 5px 0 5px;
        border-style: solid;
        border-color: #dad9d9 transparent transparent transparent;
        position: absolute;
        content: "三角";
        right: 5px;
        top: 16px;
        text-indent: -9999px;
        overflow: hidden;
        width: 0;
        height: 0;
    }

.food {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAfCAYAAADwbH0HAAAB5klEQVRIx+2VP4saQRjG39tdsiHFWaQY9Sp3Ec/mMBtQCGJlIUs+QLZLkVSBFAsp7op8hPsCOY5rxHQxR4q99hiwCFktFEVZVy2s4iqoIHrOpFHY+7O3JDchEPaphvd5n/kN8xYvQKD/XTtexnA4fIwxfmVZ1nMAAFmWf2Sz2c/RaHRxs7der0uGYbxLp9Nfc7ncpdsrlUpvAAA0TTtx14W7oNVqdb9YLL6dzWb6ttZoNKDX6z0zTfOToih1d79lWcp0OtVrtdoCAK6B2+12ZnO8BuZuQgeDwS7GWHNDt5rP5+8xxlq/39911wkhAgDAer2+dR8hRNj694JbrdaL0Wj00WsEjuMcNZvN3ENnfAvc7XYVSqlngFIKtm0fMAc7jrPnFxqPx3vMwavV6pFfaLlcPmEOFkVx4RcSRXHGHIwQ6viFEEI2c7AsyzWe5z0DPM+DJEkmc3AikcCRSOSDVyAcDh8mk8nLh4KFO76R2LZ9Wi6Xn04mkzAAvN5YZ6FQ6Gc+nz9BCBHmYACAWCzmAMChYRgvK5UKAABkMpkvqqqe67rOZElw95mFQuHb9qyq6jnL7cT9q7UYgANwAGYmwfdlHHdFKRX8ejYLhHh5vw2Ox+Pf/XokSTI7nc5xKpW6+JN8oL+qX5JDrotztHG5AAAAAElFTkSuQmCC) no-repeat 12px center;
    background-size: 15px;
}

.shop {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAfCAYAAADwbH0HAAAEOElEQVRIx+2Xb0hqZxzHfyc9M83MVHTZTeOidjui5YoSkZLGBlYzuMnW1mB3wQruXgxujNiLverF3gn3rhaXy9gdt1gF3SDWCi8FaW6VUofoz7riRS+2lFamWTo7evaqYU7L3F6McZ+Xv/P9PZ/f73me8z3PAXg1/u8DuW7C6uoqy+l0fuj1et8Mh8MiFEVDbDb7V7FYPNPS0vLjvw5eW1tjbWxs3HW5XO0kSdamkeCFhYUvKisrv8umACRb6OLi4v2Dg4M7JElePiGCOKRS6Q+dnZ2my3R52YAtFstQNlAAAJIka10uV/vk5OQH/wg8MTFx5/DwEEuGIggCKIqa6XT6FJ1On6JQKBdy4vG4xul0vo/jOCPTvNSrwNvb2x8DQHVyjM/nP8Aw7FudTre+vr5OdbvdzTs7Ox+Fw+Hb55qTk5NWj8fTCgDj1+7YarViBEFcqJpGo/2k1Wp7dTrdOgCAUqkkDAbDlFwuf4iiqDlZ6/V638ppqYPB4E0AuHCCy8vLp5VKJZGqbW5uNjOZzN/S5F8fnEgkXkuNMRgMXyY9hUKJpex1fk5gOp3+e2psb2+vMZ12ZWWFH41GeSn5vpzAXC4XBwBHcszv978xMzPzdqp2a2ur6/T09HZyjMfjreVsICaTaSwYDL6bHENR1Mzn81dLSkp+IQiC4Xa7W0KhUHkikdAmG4lOp/tEp9PhOYGXlpZumM3msXg8rrmOpwuFwgc9PT2f5WwgarXai2HYIwqF8nO20IKCApDL5YM5O9fy8vINAACj0fi4rKxsHkGutnYEQRwKhUKv1Wqf22w22bXBIyMj9+bn578fGBh4BACgUqm+KioqGr+Ci2MY9lCv189OT0+3WiyWIZPJNJaugLQtDA0NDQYCgVsymeyJ0Wh8fB5fWFiotlgsgwRBaNJ1KhKJZru6ur5M+rhgdru9PxaLsevr6/uampocGTseHR29e3R0dEutVvclQwEAGhsbcaVSeT91vxEEAYFAsJIMBQBoaGjY6u3tbedyufjm5uanly612+1+h8lkvkyuLnm0tbWNy2SyEQRB/nrOZDKf1tTU9Gda/4qKiieBQEB2KZjD4WxFo1Gew+HgZJqoo6PjG6FQaDnf19ra2v66urqMLrW7u9uQarV/A3d3d/cmEgmqzWb7+vxUZ3jN+iQSyReXmQQAwPDw8D2Xy/WeVCodu/Jw2e3213Ec/3x/f79aIBCslJaWPisuLn7OYDB8CoWCuOoyeHx8fNPn82k8Ho+eSqWeSiSSMYPB8DRr55qbm9N4PB693+/XIAgSYzAYPhqNFkJRNEShUP7Iy8sjSJKERCJBPTs7K47FYqxIJMKJRqM8Fov1QiQSzYjF4lmVShXK+ZZptVoxn8+nCQQClcFgUBaJRDjxeJwBAJCfn3/IZDJfstnsHR6PhwuFQktVVdXpq7+H/8T4E2f2tp0eihdrAAAAAElFTkSuQmCC) no-repeat 12px center;
    background-size: 15px;
    border-left: #dcdcdc 1px solid;
}

.sort {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAfCAYAAADwbH0HAAAB9UlEQVRIx+2WP4jaUBzHvwlxcQ4qHVT0XI5iJdV2aMwUuuXGrgWX2zpeKR0ylA7S7ZZOpdSxwxnQoWAFo+kkVK1WUEgggWJFMOA/CqnapRYJdzX1lMLhd3mP3+8LH36/93uPBxx00P9Ut9sNtVqtqBNvv9+nOp1OaJOP3GRoNpvRXC73WpKkt6VS6dEmf6FQSDvxbgQPBoPbo9HooWVZjGEYD/7mlSTpTFVVfjabcYqiPK3X6/e2Bi+Xy0v3dimKclKr1R4vFosoAFiWxciy/FzXdXorsBM1Gg2mWCy+AHC8HjdN86RSqTzbC1hV1VuyLIurSu3d0jSNz2azZ/YcdV2waZpHk8nEB6D9O7Squg0A8/mc6vV6d3cOjsfjZQD3V9VnMplvAECS5E9RFO9sPVz70gF8AN888KX3OJ/PP6lWq6cAUC6X/8Q1TeNFUfwKAIFAQEmlUqc7BXu93rrL5fphWRZjSx0DAEVRn/1+/6edtzqRSJQ5jntJkuQXe44giHYsFnvH83xmL2fMcdwFwzBv1t5gAEA4HP4gCML5XodLEITzUCj0kSAIAABN0xfJZPLVVX6CILDyrtZ/OuN1sSybnk6nvvF47GNZNh0MBr9f5XW73UOPx/N+OBweRSKR/LVHX9d12skHDgAMw6CdfgwPutn6BRyGxYhsEzSeAAAAAElFTkSuQmCC) no-repeat 12px center;
    background-size: 15px;
    border-left: #dcdcdc 1px solid;
}

.filter li.on .filter_tab {
    background-color: #e8e8e8;
}

.ul_filter_sub {
    position: absolute;
    left: 0;
    top: 40px;
    height: 38px;
    line-height: 38px;
    border-bottom: #c3c3c3 2px solid;
    width: 100%;
    background: #e3e3e3;
    display: none;
}

    .ul_filter_sub:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -2px;
        height: 1px;
        width: 100%;
        background: #f3f0f0;
    }

    .ul_filter_sub li {
        float: left;
        width: 50%;
        text-align: center;
        color: #818181;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAKCAYAAABrGwT5AAAAzElEQVQoz42STW/CMBBEn61EUcWp/P//1ksKwQjy0ZhQezfupYSQkrZzGXnlp5mVbcryLZEAuBkA5vusCtZarDUsZVkAcw9BUB1Z0wM8T45RaJoW7/0qnC0rG0BEqZuWy2UABoqiYLN5eZ48TxRV6qbD+2GaOee4Xj8fLy5riwht+0Hf/6y631fEGJ/DIopzZ7quX93x4I6o6tTV3sCqOhJC4DfFGDmd6ukFMhFltzswjiP/kfceaw3b7StZ+V6RUvoTMub+Sfrek+c5X1xbd6ekxHetAAAAAElFTkSuQmCC) no-repeat center -200px;
        background-size: auto 5px;
    }

        .ul_filter_sub li.on {
            color: #f73f00;
            background-position: center bottom;
        }

.sub {
    position: absolute;
    left: 0;
    width: 50%;
    top: 38px;
    background: #e4e4e4;
    display: none;
    overflow: auto !important;
}

    .sub li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-indent: 33px;
        text-align: left;
        font-size: 13px;
        color: #585858;
        display: block;
        overflow: hidden;
    }

.sub_first {
    position: relative;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAACgCAYAAAAb8NynAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAB+xJREFUeNrsmntQVNcdx3/33n1wd+8uCyxLXHFxFFCXglIpUkJhSxNTxEBHGGNip7W20YmO0xlpavtHX+M0nTQpM0klTMZR7PiI0KBTEwvSQHGRiMDIDlWsoevsKurCCvt+sNxH/1DoPu7uwupMmplz/rvn/s79nPP7fc/vd+/cg3EcB19Gw+FLagiMwAiMwAiMwAiMwAiMwAiMwAj8fwwWBF9gGBbT+Pr16/Lx8fHvT0xMfMftdmuEQqFToVD8Oysrq6O6uvrTeLDgT2Is5CIKeGRkRH7jxo19RqOxjuO4Ih4Tg0wmu7Nu3bqWWBNYEnhkZER+5cqV96anp3fF+4jHMGw4Jyfno507dzbGA8eNsV6vb14M9MmDi4xGY9358+dfeypxtbe375qZmdGGe0UoFHaRJHmBJMkLBEGEjGEYpnR8fPxVg8EgWbS4wtutW7d+BAAbgvtUKtX7Wq32mE6nGx0dHRWYTKYtt2/f/qHb7d42b+PxeLaazeatANC25BX39fVpaZoOmbVYLP57WVlZg06nGwUAKCgooGtqai7k5eV9KBQKu4JtJyYmXkzI1Q6HYxUAhCh45cqVFwsKCuhw2y1btnRRFPWAZ/zSwSzLisL7JBKJJZo9QRCBsFgnJQQmSfJReN/Dhw8r+GwHBwdVfr9fGTbekhA4LS3NAADDwX2Tk5Nf7+jo2BxuOzY2ttvr9W4L7lMqlSMx93ysBNLY2NjqcDi2B/cJhcIulUp1fdmyZVdpmpaYTKZqp9O5kmXZsuBEotPpXtfpdIaEMtfAwEBmV1dXK8MwpUspAGq1+v29e/f+NOHMVVJSMqHVao8SBPH5YqFSqRTy8vKaEs5c165dywQAqK+vP7FixYqeeJVr3sX5+flVZWVlX/T39+cuGXz69OmDPT09fzly5MhRAIDCwsI/JCcnt8XhGrRa7YdVVVWdFy9e3KrX65sbGxtbo00gIsbNzc1NNpttbW5u7sn6+voT8/cuX768Qa/XN9E0Xcq3Uo1G07l79+5fBRUX7dDQ0OFAIKDYtGnTocrKyuGoMT579uw+u92+tqSk5FAwFACgoqLCUFBQ8F54vDEMg4yMjMFgKABAeXn5WENDQ11aWprh5s2b+2O62mQyvUxR1N3KysphPvfU1ta25ebmnsYwbOE+RVHnNm7ceDia/9esWXPSZrPlxgSnpqaO+f1+5fDwcGq0B+3YseMDtVqtn49rUVHR4eLi4qhZ6v79++V8qTYEvGfPngaWZQX9/f1/nld1lG12KDs7+5d8SSK4nTp16qDRaHwlJyenNa64hoaGnjMYDG9ardYNGRkZg8uXL/9HSkrKFxKJxJKfn0/Hexl0uVyrLBZLqdlsrhIIBN7s7OzWmpqac4vOXN3d3aVms7lqcnKyFMOwgEQisYjFYqdQKHQSBDGL4zjNcRywLCuYm5tLCQQCcp/Pl+r3+5VyufyORqPpyMrK6iwsLHQm/JbZ19entVgspTabbZ3D4cj1+XypDMNIAACSkpJmKIq6q1AobiuVSoNardavX7/e+0xeb59VW9JbJvp2QmAERmAERmAERmAERmAERmAERmAERmAERmAERmAERmAERmAE/iqBYx658fEcvmCl6Zdwv/t5YHzS/01f7GNJ+QDusVaG25OXn3LFrFR5CTCCxj3WzSFQAAB2lsQ91m8DRtCsNP3SM3M1SyoNuOfRZuAYIqYhxxC4x7qZlSivPTWYkSrP475H65ckHO+jYkaa1hLLJua/RV8FAOAiP7ABcQK65QBYPDjGi/63yErTWvignEDmYChVGyeSvMXIVO2cgHLyjMZYqfLjhFSN0awuopOQejHapSDcrseXgSd/bHHRLLCBkBNRWGC2IqEYY3PejEihUQZeLUhSeiPHe1ITExfHRqiYw8AWJTA8BxRYPCEwRyS5I91Pr+X1DsM+H/l00WxiYJH4PxEDfNOrGUoVcsqBkak+xn3TqyPWK5KZEoyxu5Ovn3BPbeeEMhtLKsc4gcxOuKbq+MXpOpPwPubEChM2a89a6i7mRIp7WMCuSWgfPxYT0wa4aIm5QwzYnLNp0dUpohrhhAP3u55jqHQN4ba+slguQ1InJ9/46zvCaVeJD2oH5vv9OgySernoK57c17EWADhgGTkAeAm3dS8rVekXV8VUesIz/QP1u5VMekvtVQDgXCWvZcYVl/UnnxRlfFB160nUWQAQA4AD90xVcGLFg5hhEaeYcc/UvN8w10stbwAAyAbO3PN+7YWMqOLy6zAAAA4AwFG5f3VyT9OdSEmTHmB8EQd6OaFsGptzKSMW8uNPStKP110BLkAAgCKpl3NErPju764uXCf3NE3zulIkPv648oRMxovRnnf47NOPvTwAGMfEdLXmN99k4wrWZz/AUsqO4PLHisXHgWPf5rO/f6hXCRyGx4tx8L6xu79Rp+aFu6eqWamqFwjSy0oVx3Gv/QCf3YODn2mWv62zAhcQTO5pWwUAjlgxBvv3ztQr/rbrI+ACAgAAx3f/tN23Ou9ftJy0sKTIqfl1pGfu/vZzAeELKAQOr1oyPlok6/7FsYUVbP3ji4pPf/4ZACxsJ14wAMCDn/WoqZv3XpB3vn4UuIAIEmjeov0HZl7acSLz999aKDZxwSFxevOfKqnRUqY492p7PJij6t1trsLi7sy3yp1893nB6BMGgREYgREYgREYgREYgRH4qwX+7wAIImdDa8mSawAAAABJRU5ErkJggg==) no-repeat 12px top;
    background-size: auto 200%;
    display: block;
    color: #585858;
}

.sub em {
    font-size: 11px;
}

.sub_first.sub_first:after {
    border-width: 4px 0 4px 6px;
    border-style: solid;
    border-color: transparent transparent transparent #aaa;
    position: absolute;
    content: "三角";
    right: 10px;
    top: 17px;
    text-indent: -9999px;
    overflow: hidden;
    width: 0;
    height: 0;
}

.sub li:first-child .sub_first:after {
    content: none;
}

.sub li.on .sub_first {
    background-color: #d4d1d2;
    background-position: 12px bottom;
}

    .sub li.on .sub_first:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        content: "";
        background: #f73f00;
    }

.ul_sub {
    position: absolute;
    left: 50%;
    top: 38px;
    width: 50%;
    background: #d3d3d3;
    color: #535353;
    display: none;
    overflow: auto !important;
}

    .ul_sub li {
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: left;
        width: 100%;
    }

    .ul_sub a {
        display: block;
        color: #535353;
        text-indent: 20px;
    }

.sub li.on .ul_sub {
    display: block;
}

.ul_filter_sub li.on .sub {
    display: block;
}

.sort + .ul_sub {
    left: auto;
    right: 0;
    width: 50%;
    top: 40px;
    background: #e2e3e2;
}

    .sort + .ul_sub li {
        width: 100%;
        position: relative;
        font-size: 13px;
    }

        .sort + .ul_sub li.on {
            background: #d4d4d4;
        }

            .sort + .ul_sub li.on:before {
                position: absolute;
                left: 0;
                top: 0;
                width: 5px;
                height: 100%;
                content: "";
                background: #f73f00;
            }

.ul_goods {
    padding: 5px 10px;
}

    .ul_goods li {
        margin: 0 0 11px;
    }

    .ul_goods a {
        display: block;
        border: #cfcfcf 1px solid;
        background: #fff;
        border-radius: 5px;
        padding: 11px 10px 15px 90px;
        position: relative;
        height: 74px;
        font-size: 11px;
        color: #313440;
    }

        .ul_goods a:active {
            background: #f8f8f8;
        }

    .ul_goods h3 {
        font-size: 15px;
        line-height: 20px;
        margin: 0 50px 5px 0;
        overflow: hidden;
        height: 20px;
    }

    .ul_goods .goods_price {
        line-height: 28px;
        height: 28px;
        text-indent: 0;
    }

.list_distance {
    position: absolute;
    right: 10px;
    line-height: 20px;
    top: 11px;
    color: #999;
}

.list_hasbought {
    position: absolute;
    right: 10px;
    top: 68px;
    color: #737373;
    font-size: 10px;
}

.goods_image {
    position: absolute;
    left: 10px;
    top: 15px;
    width: 70px;
    height: 70px;
}

    .goods_image img {
        height: 70px;
        width: 70px;
    }

    .goods_image .no_book {
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/goods_list_free.png);
        width: 55px;
        height: 46px;
    }

.search_form {
    z-index: 999999;
    padding: 7px 60px 7px 8px;
    height: 45px;
    background: #fbfbfb;
    width: 100%;
    position: fixed;
    top: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: none;
}

.ipt {
    background: #ebebeb url(../images/searchipt.png) no-repeat 6px center;
    background-size: 13px;
    width: 100%;
    padding: 0 5px 0 21px;
    height: 29px;
    color: #333;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.shade {
    background: rgba(0,0,0,0.5);
    top: 90px;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 50px;
    z-index: 99999;
    display: none;
}

.smt {
    position: absolute;
    height: 28px;
    line-height:28px;
    color: #fff;
    width: 48px;
    background: #f73f00;
    border-radius: 5px;
    text-align:center;
    right: 5px;
    top: 6px;
}

.search_form_show {
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    transform: translate(0,0);
}


.list_shop_status {
    position: absolute;
    right: 10px;
    top: 12px;
    color: #737373;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
}

    .list_shop_status.on {
        color: #f77c5b;
    }

    .list_shop_status span {
        display: block;
    }

    .list_shop_status.on span {
        font-weight: normal;
    }


.main {
    padding-bottom: 0;
}

.ul_goods {
    padding-bottom: 10px;
}

.shop_summary {
    border-top: 1px dotted #cfcfcf;
    margin-top: 5px;
    margin-left: -80px;
    padding-top: 3px;
}

.ul_goods a {
    height: initial;
    padding: 10px 10px 10px 90px;
}

.goods_image, .list_shop_status {
    top: 10px;
}
